<h1>Sign Up </h1>

<%= form_for @user do |u| %>
  
  <%= u.label :name %>
  <%= u.text_field :name %>

  <%= u.label :email %>
  <%= u.text_field :email %>

  <%= u.label :password %>
  <%= u.text_field :password %>

  <%= u.label :password_confirmation %>
  <%= u.text_field :password_confirmation %><br />

  <%= u.submit "Submit", class: "btn btn-primary" %>

<% end %> 
