<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nickblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">

  <%= link_to "Home", root_path %> &nbsp; <%=link_to "Login", login_path %> &nbsp; <%=link_to "Articles", articles_path %>&nbsp;

  <% if session[:user_id] %>
  <%= link_to "New Article", new_article_path %> &nbsp;
  <%= link_to "Log Out", session_path(current_user), method: "delete" %>
  <% end %>

  <br /><br />
 
  <div id="flash_notice">

  	  <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"> 
            <%= value unless value.blank? %>
          </div>
      <% end %>
  </div>

<%= yield %>

</div>
</body>
</html>
